*,
::before,
::after { 
	box-sizing: border-box;
	border-width: 0;
	border-style: solid;
	border-color: #b1bed1;
	font-size: 1rem; 
	margin: 0;
	padding: 0;
	font-family: "Raleway", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

:root {
	color-scheme: light dark;
    --bg-color: light-dark(#EFE8F6, #120D31);
    --bg-color-contend: light-dark(#b1afe4, #6456A1);
	--primary-color: light-dark(#7262d8, #c29cff);
    --primary-color-dark: light-dark(#afa2ff, #b06df3);
	--primary-color-light: light-dark(#7262d8, #b770ff);
    --border-color: light-dark (#b6385e, #120d3196);
    --text-color: light-dark(#6456A1, #ffffff);
	--link-color: light-dark(#EFE8F6, #ffffff);
	--footer-btn-color: light-dark(#100447, #F2F2F2);
    --text-btn-color: light-dark(#5240a3, #F2F2F2);
	--text-btn-color-dark: light-dark(#EFE8F6, #302385);
	--text-about-bold-color: light-dark(#7869da, #b8b1e7);
}
