*,
::before,
::after { 
	box-sizing: border-box;
	border-width: 0;
	border-style: solid;
	border-color: #b1bed1;
	font-size: 1rem; 
	margin: 0;
	padding: 0;
	font-family: "Raleway", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

:root {
	color-scheme: light dark;
    --bg-color: light-dark(#EFE8F6, #120D31);
    --bg-color-contend: light-dark(#000, #EFE8F6);
	--primary-color: light-dark(#66389b, #e9c8ff);
    --primary-color-dark: light-dark(#441877, #b06df3);
	--primary-color-light: light-dark(#6a3c9e8c, #b770ff);
    --border-color: light-dark (#967fb1, #592b79);
    --text-color: light-dark(#9378cf, #ffffff);
    --text-btn-color: light-dark(#EFE8F6, #372f70);
	--text-btn-color-dark: light-dark(#8e66b9, #302385);
    --text-bold-color: light-dark(#9378cf, #6a3c9e8c);
}
